In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("bigmac.csv")

In [4]:
df

            date currency_code           name  local_price  dollar_ex
0     2000-04-01           ARS      Argentina         2.50      1.000
1     2000-04-01           AUD      Australia         2.59      1.680
2     2000-04-01           BRL         Brazil         2.95      1.790
3     2000-04-01           CAD         Canada         2.85      1.470
4     2000-04-01           CHF    Switzerland         5.90      1.700
...          ...           ...            ...          ...        ...
1325  2020-01-14           UAH        Ukraine        57.00     23.990
1326  2020-01-14           UYU        Uruguay       179.00     37.435
1327  2020-01-14           USD  United States         5.67      1.000
1328  2020-01-14           VND        Vietnam     66000.00  23176.000
1329  2020-01-14           ZAR   South Africa        31.00     14.391

[1330 rows x 5 columns]

In [5]:
(
    df
    .assign(date=lambda d: pd.to_datetime(d['date']))
    .set_index('date')
    .rename(columns={'name': 'country', 'currency_code': 'currency'})
    .assign(dollar_price=lambda d: d['local_price']/d['dollar_ex'])
    .assign(currency_value=lambda d: d['dollar_price'] / d.query('country=="United States"')['dollar_price'])
    .loc[lambda d: d.index.max()]
    .sort_values('currency_value', ascending=False)
    .head(10)
)

,currency,country,local_price,dollar_ex,dollar_price,currency_value
date,,,,,,
2020-01-14,CHF,Switzerland,6.50,0.968250,6.713142,1.183976
2020-01-14,NOK,Norway,53.00,8.875150,5.971730,1.053215
2020-01-14,USD,United States,5.67,1.000000,5.670000,1.000000
2020-01-14,SEK,Sweden,51.50,9.459100,5.444493,0.960228
2020-01-14,CAD,Canada,6.77,1.306550,5.181585,0.913860
2020-01-14,ILS,Israel,17.00,3.459500,4.914005,0.866668
2020-01-14,BRL,Brazil,19.90,4.141900,4.804558,0.847365
2020-01-14,UYU,Uruguay,179.00,37.435000,4.781621,0.843319
2020-01-14,EUR,Euro area,4.12,0.899159,4.582058,0.808123
2020-01-14,DKK,Denmark,30.00,6.719350,4.464718,0.787428